
*.vscode

mdk_project/Listings
mdk_project/Objects
mdk_project/*.zt104789

pac_bms/pac22xxx/keil_proj/Listings
pac_bms/pac22xxx/keil_proj/Objects
pac_bms/pac22xxx/keil_proj/*.dn101358
pac_bms/pac22xxx/keil_proj/*.pn105310
pac_bms/pac22xxx/keil_proj/JLinkLog.txt
pac_bms/pac22xxx/keil_proj/*.scvd

pac_bms/pac25xxx/keil_proj/Listings
pac_bms/pac25xxx/keil_proj/Objects
pac_bms/pac25xxx/keil_proj/*.dn101358
pac_bms/pac25xxx/keil_proj/*.pn105310
pac_bms/pac25xxx/keil_proj/JLinkLog.txt
pac_bms/pac25xxx/keil_proj/*.scvd

pac_bms/pac22xxx/keil_proj_compiler6/Listings
pac_bms/pac22xxx/keil_proj_compiler6/Objects
pac_bms/pac22xxx/keil_proj_compiler6/*.dn101358
pac_bms/pac22xxx/keil_proj_compiler6/*.pn105310
pac_bms/pac22xxx/keil_proj_compiler6/JLinkLog.txt
pac_bms/pac22xxx/keil_proj_compiler6/*.scvd

pac_bms/pac25xxx/keil_proj_compiler6/Listings
pac_bms/pac25xxx/keil_proj_compiler6/Objects
pac_bms/pac25xxx/keil_proj_compiler6/*.dn101358
pac_bms/pac25xxx/keil_proj_compiler6/*.pn105310
pac_bms/pac25xxx/keil_proj_compiler6/JLinkLog.txt
pac_bms/pac25xxx/keil_proj_compiler6/*.scvd

bms_gui/BmsGui/bin/Debug/*
bms_gui/BmsGui/bin/Release/*
bms_gui/BmsGui/obj/*
/bms_gui/.vs/BmsGui/v16/*.suo

*.dn101358
/mdk_project/EventRecorderStub.scvd
/mdk_project/JLinkLog.txt
